<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <nav class="teal"> <!-- Navigation Bar -->
        <div class="nav-wrapper"> <!-- Brand Logo -->
            <a href="/" class="brand-logo center">📚 Library</a>
        </div>
            </nav>
            </div class="container">
            
</body>
</html>